---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Course Instructor 

PSY493: Cognitive Neuroscience
University of Toronto
Winter 2025, Fall 2024, Fall 2024

This capstone survey course explores research on how the mind arises from the brain, covering how varying levels of neural activity — from cellular mechanisms to functional networks — support cognitive processes. This ranges from early perception and attention to memory and higher cognitive control, as well as applications such as psychopathology and consciousness. Secondary objectives included understanding current cognitive neuroscience methods and engaging critically with primary research in the field. 


